@CHARSET "UTF-8";

header1{
	background-color:black;
	color:white;
	text-align:center;
	height:80px;
	width:100%;
	padding:5px; 
	margin-top:200px; 
}
nav1{
	text-align:center;
	line-height:30px;
	background-color:#eeeeee;
	height:700px;
	width:150px;
	float:left;
	padding: 5px;   
}
section1{
	align: center;
	text-align:left;
	float:left;
	padding: 30px;   
}
footer1{	
	background-color:black;
	color:white;
	clear:both;
	text-align:center;
	padding: 5px; 
	width:100%;  
}